

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

body {
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
      background-color: transparent;
}

a {
  color: #00B7FF;
}

.slider-handle.custom {
background: transparent none;
/* You can customize the handle and set a background image */
}

/* Or display content like unicode characters or fontawesome icons */
.slider-handle.custom::before {
line-height: 20px;
font-size: 20px;
content: '\2B22'; /*unicode star character*/
color: #0A5CB2;
}

.slider-selection {
	background: #438FDD;
}


h1{
    font-weight: bold;
    color: #0A5CB2

}

.page-header {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #eee;
}

.progress-bar-royal{
    background-image:-webkit-linear-gradient(top,rgb(168, 78, 240) 0,rgb(110, 31, 224) 100%);
    background-image:-o-linear-gradient(top,rgb(168, 78, 240) 0,rgb(110, 31, 224) 100%);
    background-image:-webkit-gradient(linear,left top,left bottom,from(rgb(168, 78, 240)),to(#rgb(110, 31, 224)));
    background-image:linear-gradient(to bottom, rgb(168, 78, 240) 0px, rgb(110, 31, 224) 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9534f', endColorstr='#ffc9302c', GradientType=0);
    background-repeat:repeat-x
}

#topnavbar {
    margin: 0;
}
#topnavbar.affix {
    position: fixed;
    top: 0;
    width: 100%;
}

.num{
    background: lightgray;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 0;
    margin-left: 0;
}

h1.center, h2.center, h3.center, h4.center, p.center, div.center, span.center {
    text-align: center
}

.intro {
    background-image: url(/content/home/home-title.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #FFFFFF;
    height: 450px;
}

.auto {
    background-image: url(/content/home/home-auto.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #FFFFFF;
    height: 450px;
}

.people {
    background-image: url(/content/home/home-people.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #FFFFFF;
    height: 450px;
}

.moto {
    background-image: url(/content/home/home-moto.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #FFFFFF;
    height: 450px;
}

.local {
    background-image: url(/content/home/home-local.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #59626d;
}



.title-home {
    word-spacing: 6px;
    padding-top: 70px;
    font-size: 4.5em;
    text-shadow: 1px 1px 1px #000;
}

.separator-white {
    border-top: 1px solid #fff;
    width: 350px;
    height: 20px;
    line-height: 20px;
    text-align: center;
}

.separator-black {
    border-top: 1px solid #59626d;
    width: 350px;
    height: 20px;
    line-height: 20px;
    text-align: center;
}

.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.margen-auto {
    padding-top: 150px;
}

.margen-local {
    padding-top: 50px;
}

.remiendo{
    font-size: 4em;
}

.navbar-default {
  background-color: #ffffff;
  border-color: #1c8e39;
}
.navbar-default .navbar-brand {
  color: #59626d;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #ffffff;
}
.navbar-default .navbar-text {
  color: #59626d;
}
.navbar-default .navbar-nav > li > a {
  color: #59626d;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
  background-color: #1c8e39;

}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #1c8e39;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #1c8e39;
}
.navbar-default .navbar-toggle {
  border-color: #1c8e39;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #1c8e39;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #59626d;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #59626d;
}
.navbar-default .navbar-link {
  color: #59626d;
}
.navbar-default .navbar-link:hover {
  color: #ffffff;
  background-color: #1c8e39;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #59626d;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
    background-color: #1c8e39;

  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #1c8e39;
  }
}

.margen-alta {
    margin-top: 30px
}

.margen-baja {
    margin-bottom: 30px
}

.white {
    color: #ffffff
}

.grey {
    color: #49535e
}

.grey-light {
    color: #666
}

.green {
    color: #c10907
}

.curseur {
    padding-top: 30px;
    width: 80px
}

.copyright {
    text-align: center;
    background-color: #252526;
    line-height: 20px;
    color: white;
    height: 30px;
}

.footer-av {
    background-color: #252526;
    z-index: 10;
    width: 100%;
}

.active {
    background-color: green;
    color: white;
}