<div class = "container">
	<div class="jumbotron center">
		<h1>Sobre Nosotros</h1>
	</div>

	<h2 class="center">Proposito</h2>
	<div class="panel panel-default">
  	  <div class="panel-body">
  	  	<p style="text-align:justify">
  	  		En el Centro de Enseñanza Automovilistica Condufacil estamos comprometidos con brindar formacion adecuada a la poblacion Colombiana en el campo de la conduccion en sus diferentes ramas: Tecnicas en Conduccion, Etica en la via y Conocimiento suficiente de las regulaciones vigentes.
  	  	</p>

  	  	<p style="text-align:justify">
  	  		Es nuestro objetivo desarrollar nuestras actividades con gran atencion a valores éticos y morales que nos permitan prestar un servicio agradable con calidez, eficiencia y eficacia. Formar conductores en las categorías adecuadas con el debido reconocimiento: valorados y certificados como aprendices capaces, a través de nuestro talento humano calificado, tecnología de avanzada y metodo de enseñanza perfeccionado a traves de los años.
  	  	</p>

  	  	<p style="text-align:justify">
  	  		La institucion tiene una clara perspectiva a mediano y largo plazo, visualizándose en el año 2016 como una organización con solidez financiera, efectiva en sus procesos, y prestando un servicio de calidad. Trabajamos a diario para garantizar que los aprendices que pasan por nuestro centro se conviertan en conductores que cumplan con las necesidades para operadores de vehículos, tanto para el servicio particular como el publico, ayudando asi al desarrollo de proyectos e iniciativas encaminados al mejoramiento del nivel educativo y de movilidad en el pais.
  	  	</p>
  	  </div>
  	 </div>	

	<h2 class="center">Nuestra historia</h2>
	<div class="panel panel-default">
  	  <div class="panel-body">
  	  	<p style="text-align:justify">
  	  		Para ser redactado,

  	  		En otros tiempos, la Escuela de Enseñanza Automovilistica Condufacil nacio como un sueño por parte de una de sus fundadoras, de mejorar la ciudad de Bogota a traves de la cultura de sus conductores.

  	  	<p style="text-align:justify">
  	  		La primera sede se creo en el barrio Villa del rio, hacia el sur de la ciudad.
  	  		</p>

  	  		<p style="text-align:justify">
  	  		Poco a poco la Escuela gano cierto reconocimiento, que lo llevaron a crecer mas de lo que su localizacion actual le permitia. Esto llevo a su movimiento al barrio Nueva Marsella, donde funcionaria hasta el ano 20XX.</p>

  	  		<p style="text-align:justify">
  	  		Debido a regulaciones adicionales por parte del Ministerio de Transporte, fue necesario moverse una segunda vez hacia el barrio Restrepo. Este cambio vino acompañado con la adquisacion de plataformas didacticas, que ayudaron a mejorar el proceso de enseñanza. El nombre de la institucion cambio a Centro de Enseñanza Automovilistica Condufacil.</p>

  	  		<p style="text-align:justify">
  	  		De nuevo en el año 2014 se comenzaron trabajos para remodelar el antiguo sitio en el Barrio Marsella e integrarlo de nuevo al Centro de Enseñanza Automovilistica Condufacil.</p>


  	  	</p>
  	  </div>
  	 </div>	

</div>