

<div class="container">
    
  <div id="view-container">
    <div class="intro clearfix">
      <div class="row">
        <div class="col-lg-12">
            <h1 class="title-home white center">El Arte del Buen Conducir</h1>
             <p class="sous-text center">Aprenda a conducir cerca de su casa a un precio razonable!</p>
             
        </div>
      </div>
    </div>

    <div class="auto clearfix">
      <div class="row">
        <div class="col-lg-12">
            <h2 class="margen-auto white center remiendo">Vehículos a Cuatro Ruedas</h2>
            <div class="separator-white center-block"></div>
             <p class="sous-text center">Cursos a partir de $610.000</p>
             <div>
             <center>
               <a href="#/precios/auto" class="btn btn-success btn-large" role="button">VER PRECIOS!
               </a>
             </center>
               
            </div>
           
        </div>
      </div>
    </div>

    <div class="moto clearfix">
      <div class="row">
        <div class="col-lg-12">
            <h2 class="margen-auto white center remiendo">Motocicletas</h2>
            <div class="separator-white center-block"></div>
             <p class="sous-text center">Cursos a partir de $450.000</p>
             <div>
             <center>
               <a href="#/precios/moto" class="btn btn-success btn-large" role="button">VER PRECIOS!
               </a>
             </center>
               
            </div>
           
        </div>
      </div>
    </div>

    <div class="local clearfix">
      <div class="row">
        <div class="col-lg-12">
            <h2 class="margen-auto white center remiendo">Un Centro de Enseñanza que va a usted</h2>
            <div class="separator-black center-block"></div>
             <p class="sous-text center">
            El centro esta situado en un lugar estrategico, capaz de cumplir las necesidades de las personas en localidades adyacentes de Kennedy.
            </p>
            <p>
             Para cada clase practica, usted puede elegir el punto de encuentro que mejor le convenga. usted tambien puede tomar ciertos cursos en proximidad a su domicilio, lugar de aprendizaje o lugar de trabajo.</p>
             <div>
             <center>
               <a href="#/instalaciones" class="btn btn-success btn-large" role="button">VER LOCALIZACION EN BOGOTA!
               </a>
             </center>
               
            </div>
           
        </div>
      </div>
    </div>


  </div>

    



    <center><h1>Centro de Enseñanza Automovilística Condufacil</h1><center>
        <br>

        <div class="panel panel-default">
            <ul class="list-group">

                <p>
            Hey
            </p>

            </ul>

        </div>

        <br>

        <div class="jumbotron">

            
        </div>

</div> 
    
    

<script>
    $('#topnavbar').affix({
        offset: {
            top: $('#banner').height()
        }   
    });
    </script>