

<div class="container">
    
  <div id="view-container">
    <div class="intro clearfix">
      <div class="row">
        <div class="col-lg-12">
            <h1 class="title-home white center">El Arte del Buen Conducir</h1>
             <p class="sous-text center">Aprenda a conducir cerca de su casa a un precio razonable!</p>
             <div class="margen-baja"></div>
        </div>
      </div>
    </div>

    <div class="auto clearfix">
      <div class="row">
        <div class="col-lg-12">
            <h2 class="margen-auto white center remiendo">Automóviles</h2>
            <div class="separator-white center-block"></div>
             <p class="sous-text center">Cursos a partir de $610.000</p>
             <div>
             <center>
               <a href="#/precios/auto" class="btn btn-success btn-large" role="button">VER PRECIOS!
               </a>
             </center>
               
            </div>
           
        </div>
      </div>
    </div>

    <div class="moto clearfix">
      <div class="row">
        <div class="col-lg-12">
            <h2 class="margen-auto white center remiendo">Motocicletas</h2>
            <div class="separator-white center-block"></div>
             <p class="sous-text center">Cursos a partir de $450.000</p>
             <div>
             <center>
               <a href="#/precios/moto" class="btn btn-success btn-large" role="button">VER PRECIOS!
               </a>
             </center>
               
            </div>
           
        </div>
      </div>
    </div>

    <div class="local clearfix">
    <center>
      <img class="curseur" alt="cursor" src="/content/home/cursor.png">
    </center>
      <div class="row">
        <div class="col-lg-12">
            <h2 class="margen-local center remiendo">Un Centro de Enseñanza que va a usted</h2>
            <div class="separator-black center-block"></div>
            <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-offset-2 col-sm-8">
             <p class="text-local center">
              El centro esta situado en un lugar estrategico, capaz de cumplir las necesidades de las personas en localidades adyacentes a <strong>Kennedy</strong>.<br>
              Ofrecemos tambien servicio a domicilio, <strong>completamente sin costo adicional</strong>, en su lugar de residencia, o en su lugar de trabajo, segun escoja en el momento de matricula.
             </p>
         </div>
             
            <div class="margen-baja col-lg-12 col-md-12 col-sm-12">
            
              <center>
                <button type="button" class="btn btn-success btn-large" data-toggle="modal" data-target="#map-modal">VER LOCALIZACION EN BOGOTA!</button>
              </center>

                             
            </div>
           
        </div>
      </div>
    </div>


    <div class="people clearfix">
      <div class="row">
        <div class="col-lg-12">
            <h2 style="font-size: 3em;"class="margen-auto center remiendo">Especialización en Personas Nerviosas</h2>
            <div class="separator-white center-block"></div>
            <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-offset-2 col-sm-8">
             <p class="text-local center">
              Nuestro personal altamente capacitado en técnicas de conducción y apoyo psicológico con varios años de experiencia esta listo para servirle. <br> 
             </p>
         </div>
             
             <div class="margen-baja col-lg-12 col-md-12 col-sm-12">
                           
            </div>
           
        </div>
      </div>
    </div>


  </div>
  

</div> 
    
    

<script>
    $('#topnavbar').affix({
        offset: {
            top: $('#banner').height()
        }   
    });
    </script>