

<div class="container">
    
  <div id="view-container">
    <div class="intro clearfix">
      <div class="row">
        <div class="col-lg-12">
            <h1 class="title-home white center">Arte del Buen Conducir</h1>
             <p class="sous-text center">Aprenda a conducir cerca de su casa a un precio razonable!</p>
             <div class="center">
                
<span class="btn-insc link-inscription" data-href="http://www.auto-ecole.net/inscription">
      JE M'INSCRIS !
</span>
             </div>
        </div>
      </div>
    </div>

  </div>



    <center><h1>Centro de Enseñanza Automovilística Condufacil</h1><center>
        <br>

        <div class="panel panel-default">
            <ul class="list-group">

                <p>
            Hey
            </p>

            </ul>

        </div>

        <br>

        <div class="jumbotron">

            
        </div>

</div> 
    
    

<script>
    $('#topnavbar').affix({
        offset: {
            top: $('#banner').height()
        }   
    });
    </script>