<div class="container">

	<div class="jumbotron center">
	  <h1>Precios</h1>
	</div>

	<h2 class="center">Requisitos del aprendiz</h2>
	<div class="panel panel-default">
  	  <div class="panel-body">
  	  	<p>Para ser capaz de recibir la formacion, es necesario que el aprendiz cumpla los siguientes requisitos:

		<ul>
			<li>Saber leer y escribir</li>
		</ul>

		<p>Adicionalmente se solicita a los aprendices traer la siguiente documentacion para la inscripcion en el centro:</p>

		<ul>
			<li>Una foto 3 cm x 4 cm, sin importar el color de fondo.</li>
			<li>Fotocopia del documento de identidad.</li>
		</ul>
  	  </div>
  	 </div>	

	<h2 class="center">Vehiculos</h2>
	
	<div class="panel panel-default">
	  <div class="panel-heading">
	    <h3 class="panel-title">Categoria B1</h3>
	  </div>
	  <div class="panel-body">
	    <p>Habilita al aprendiz para conducir: </p>

	    <ul>
	    	<li>Automoviles</li>
	    	<li>Camperos</li>
	    	<li>Camionetas</li>
	    	<li>Microbuses</li>
	    	<li>Motocarros</li>
	    	<li>Cuatrimotos</li>
	    </ul>

	    <p>Requisitos del aprendiz:</p>

	    <ul>
			<li>Tener al menos 16 años de edad <strong>cumplidos</strong>.</li>
		</ul>

		<p>Las clases practicas pueden ser tomadas en los siguientes horarios:</p>
			<ul>
		    	<li>Lunes a Viernes: 7am a 9pm</li>
		    	<li>Sabados: 7am a 6pm</li>
		    	<li>Domingos: 8am a 2pm</li>		    	
		    </ul>
		<p>No se recomienda tomar mas de 3 clases por dia.</p>

		<p>Las clases teoricas deben ser tomadas en alguno de los siguientes horarios:</p>
			<ul>
		    	<li>Miercoles: 4am a 6pm</li>
		    	<li>Miercoles: 6am a 8pm</li>
		    	<li>Jueves: 4am a 6pm</li>
		    	<li>Jueves: 6am a 8pm</li>
		    	<li>Sabados: 8am a 1pm</li>
		    </ul>
		<p>Las clases teoricas siguen un calendario especial que puede ser consultado haciendo pulsando <a href="#/precios" data-toggle="modal" data-target="#teoria-modal">aqui</a>.</p>
	    
	  </div>
	  <table class="table">
		    <tr>
			    <th>Contenido del Curso</th>
	 		</tr>
		    <tr>
			    <td>20 clases de clases practicas</td>
		    </tr>
		    <tr>
			    <td>30 clases de clases teoricas</td>
		    </tr>
		    <tr>
			    <td>Certificado de la escuela</td>
		    </tr>
		    <tr class="success">
			    <td>$610.000</td>
		    </tr>
	  	</table>
	</div>

	<div class="panel panel-default">
	  <div class="panel-heading">
	    <h3 class="panel-title">Categoria C1</h3>
	  </div>
	  <div class="panel-body">
	    <p>Habilita al aprendiz para conducir los vehiculos permitidos para la categoria B1: </p>

	    <ul>
	    	<li>Automoviles</li>
	    	<li>Camperos</li>
	    	<li>Camionetas</li>
	    	<li>Motocarros</li>
	    	<li>Cuatrimotos</li>
	    </ul>

	    <p>Adicionalmente permite la conduccion de vehiculos de servicio publico como: </p>

	    <ul>
	    	<li>Taxis</li>
	    	<li>Microbuses (Con capacidad maxima de 19 pasajeros)</li>
	    	<li>Furgones en llanta sencilla</li>

	    </ul>

	    <p>Requisitos del aprendiz:</p>
	    <ul>
			<li>Ser mayor de edad.</li>
		</ul>

		<p>Las clases practicas pueden ser tomadas en los siguientes horarios:</p>
			<ul>
		    	<li>Lunes a Viernes: 7am a 9pm</li>
		    	<li>Sabados: 7am a 6pm</li>
		    	<li>Domingos: 8am a 2pm</li>		    	
		    </ul>
		<p>No se recomienda tomar mas de 3 clases por dia.</p>

		<p>Las clases teoricas deben ser tomadas en alguno de los siguientes horarios:</p>
			<ul>
		    	<li>Miercoles: 4am a 6pm</li>
		    	<li>Miercoles: 6am a 8pm</li>
		    	<li>Jueves: 4am a 6pm</li>
		    	<li>Jueves: 6am a 8pm</li>
		    	<li>Sabados: 8am a 1pm</li>
		    </ul>
		<p>Las clases teoricas siguen un calendario especial que puede ser consultado haciendo pulsando <a href="#/precios" data-toggle="modal" data-target="#teoria-modal">aqui</a>.</p>
	    
	  </div>
	  <table class="table">
		    <tr>
			    <th>Contenido del Curso</th>
	 		</tr>
		    <tr>
			    <td>30 clases practicas</td>
		    </tr>
		    <tr>
			    <td>35 clases teoricas</td>
		    </tr>
		    <tr>
			    <td>Certificado de la escuela</td>
		    </tr>
		    <tr class="success">
			    <td>$850.000</td>
		    </tr>
	  	</table>
	</div>

	<div class="panel panel-default">
	  <div class="panel-heading">
	    <h3 class="panel-title">Clases Adicionales</h3>
	  </div>
	  <div class="panel-body">
	    El valor de cada hora adicional en vehiculo es de $30.000
	  </div>
	</div>

	<h2 class="center">Motocicletas</h2>

	<div class="panel panel-default">
	  <div class="panel-heading">
	    <h3 class="panel-title">Categoria A2</h3>
	  </div>
	  <div class="panel-body">
        <p>Habilita al aprendiz para conducir motos de todos los cilindrajes. </p>
        <p>Requisitos del aprendiz:</p>
        <ul>
			<li>Tener al menos 16 años de edad <strong>cumplidos</strong>.</li>
		</ul>
		<p>Las clases practicas pueden ser tomadas en los siguientes horarios:</p>
			<ul>
		    	<li>Lunes a Sabado: 7am a 6pm</li>
		    </ul>
		<p>No se recomienda tomar mas de 3 clases por dia.</p>

		<p>Las clases teoricas deben ser tomadas en alguno de los siguientes horarios:</p>
			<ul>
		    	<li>Miercoles: 4am a 6pm</li>
		    	<li>Miercoles: 6am a 8pm</li>
		    	<li>Jueves: 4am a 6pm</li>
		    	<li>Jueves: 6am a 8pm</li>
		    	<li>Sabados: 8am a 1pm</li>
		    </ul>
		<p>Las clases teoricas siguen un calendario especial que puede ser consultado haciendo pulsando <a href="#/precios" data-toggle="modal" data-target="#teoria-modal">aqui</a>.</p>
	  </div>
	  <table class="table">
		    <tr>
			    <th>Contenido del Curso</th>
	 		</tr>
		    <tr>
			    <td>15 clases practicas</td>
		    </tr>
		    <tr>
			    <td>28 clases teoricas</td> 
		    </tr>
		    <tr>
			    <td>Certificado de la escuela</td>
		    </tr>
		    <tr class="success">
			    <td>$450.000</td>
		    </tr>
	  	</table>
	</div>

	<div class="panel panel-default">
	  <div class="panel-heading">
	    <h3 class="panel-title">Clases Adicionales</h3>
	  </div>
	  <div class="panel-body">
	    El valor de cada clase adicional en motocicleta es de $28.000
	  </div>
	</div>

    <h2 class="center">Sobre la expedicion de la licencia por primera vez</h2>

    <div class="panel panel-default">
	  <div class="panel-body">
	    <p>Desde el año 2009, los Centros de Enseñanza Automovilistica no estan autorizados a servir de intermediarios en la expedicion de la Licencia de Conduccion. Desde entonces, los Centros de Ensenanza sirven para formar a los futuros conductores y a <strong>certificar</strong> que los mismos cumplan con las habilidades minimas en tecnicas de conduccion, conocimiento basico de las senales viales y formacion en etica al conducir.<p>

	    <p>Para expedir la licencia es necesario:</p>

		<ul>
			<li>Certificado de Conduccion (expedido por una escuela autorizada)</li>
			<li>Certificado de actitud fisica y mental (expedido por un centro de reconocimiento autorizado).</li>
			<li>Derechos para el organismo de Transito:</li>
				<ul>
					<li>Motocicletas: $117.000</li>
					<li>Vehiculos: $147.500</li>
				</ul>

		</ul>
	
	  </div>
	</div>

    
	<h2 class="center">Otras formaciones</h2>

	<div class="panel panel-default">
	  <div class="panel-body">
	    Estamos trabajando para ofrecer mas servicios relacionados al transito a la comunidad bogotana.
	  </div>
	</div>

	    
</div>	


<div id="teoria-modal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Calendario de clases de teoria</h4>
        </div>
        <div class="modal-body">
          <center>

          	<div id="myCarousel" class="carousel slide" data-ride="carousel">
			  <!-- Indicators -->
			  <ol class="carousel-indicators">
			    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			    <li data-target="#myCarousel" data-slide-to="1"></li>
			  </ol>

			  <!-- Wrapper for slides -->
			  <div class="carousel-inner" role="listbox">
			    <div class="item active">
			      <img src="/content/teoria_modulos.png" alt="Modulos">
			    </div>

			    <div class="item">
			      <img src="/content/teoria_cal.png" alt="Calendario">
			    </div>
			  </div>

			  <!-- Left and right controls -->
			  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
			    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
			    <span class="sr-only">Anterior</span>
			  </a>
			  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
			    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
			    <span class="sr-only">Siguiente</span>
			  </a>
			</div>
            
          </center>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        </div>
      </div>

    </div>
  </div>