<div class="container">

	<div id="tabs" ng-controller="PriceCtrl">

	<uib-tabset>
    	<uib-tab ng-repeat="tab in tabs" heading="{{tab.title}}" active="tab.active" ng-click="onClickTab(tab)">
	            <div ng-include="currentTab"></div>
    	</uib-tab>
    
  	</uib-tabset>

 	<script type="text/ng-template" id="auto">
				<div id="viewOne">
					<h1>View One</h1>
					<p>Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc.</p>
				</div>
				</script>
		
		<script type="text/ng-template" id="moto">
			<div id="viewTwo">
				<h1>View Two</h1>
				<p>Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante, ac egestas est urna sit amet arcu. Class aptent taciti sociosqu.</p>
			</div>
		</script>

  </div>

		    
	</div>	
